@import '../../../assets/scss/_breakpoints.scss';

.signup-form {
    width: 100%;
    margin: 10px auto;
    @include tablet {
        width: 330px;
    }
}

mat-form-field {
    width: 100%;
    text-align: left;
}

mat-hint {
    margin: 0; 
    line-height: 100%;
    min-width: 40px;
    // font: normal lighter 12px/14px 'Arial Narrow', sans-serif;
}

button[type='submit'] {margin-top:10px;}

