<app-header></app-header>

<mat-sidenav-container>
  <mat-sidenav #sidenav role="navigation">
    <app-sidenav (click)="sidenav.close()"></app-sidenav>
    <!-- <app-sidenav (sidenavToggle)="sidenav.toggle()"></app-sidenav> -->
  </mat-sidenav>
  <mat-sidenav-content>
    <button (click)="sidenav.toggle()"
    fxHide.xs
      mat-mini-fab id="toggleBtn">
      <span class="material-icons">
        navigate_next</span>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

