.nav-caption {
    padding: 0 5px 0 30px;
    font-size: 14px;
    font-weight: 100;
}
mat-icon {
    width: 30px;
    height: auto;
    position: absolute;
    left: 15px;
}
.logout-icon {
    left: 6px;
}
.mat-mdc-unelevated-button.mat-mdc-button-base {
    height: 50px;
    padding: 0 5px;
    width: 100%;
}
.p-0 {padding: 0 5px 0 10px;}
